@import './helpers/normilize';
@import './helpers/variables';
@import './helpers/mixins';


@import './components/buttons';
@import './components/header';
@import './components/main';
@import './components/presents';
@import './components/writeUs';

* {
    @include cursive-font;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1325px;
}

.section1 {
    background-color: red;
    height: 100vh;
}

.section2 {
    background-color: blue;
    height: 100vh;
}

.section3 {
    background-color: yellow;
    height: 100vh;
}

.section4 {
    background-color: red;
    height: 100vh;
}