.header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 999;
    &__container {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 43px 20px;
        max-width: 1385px;
    }

    .navigation {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: end;
        padding-right: 140px;
        &__list {
            display: flex;
            gap: 40px;
            align-items: center;
            justify-content: flex-end;
            flex-wrap: wrap;
            list-style-type: none;
        }
        &__item {
        }
        &__link {
            position: relative;
            display: block;
            padding: 5px 30px;
            min-width: 30px;
            font-size: 16px;
            background-color: transparent;
            color: transparent;
            text-decoration: none;
            overflow: hidden;
            &:before, &:after {
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                transition: 0.2s ease-in-out all;
            }
            &:before {
                content: attr(data-text);
                color: white;
            }
            &:after {
                content: attr(title);
                color: $accent-color;
                top: 150%;
            }
            &:hover {
                &:before {
                    top: -50%;
                }
                &:after {
                    top: 50%;
                }
            }
        }
    }

    .burger-menu {
        min-width: 60px;
        height: 60px;
        background-color: $accent-color;
        border-radius: 50% 10px 50% 50%;
        display: flex;
        flex-direction: column;
        padding: 1.125rem 0;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        span {
            display: block;
            width: 35px;
            height: 3px;
            background-color: white;
            transition: 0.3s ease-in-out all;
        }
        &:focus {
            span:first-child {
                transform: rotate(-45deg) translateY(6px) translateX(-6px);
            }
            span:nth-child(3n+2) {
                transform: translateX(calc(100% + 60px));
                opacity: 0;
                visibility: hidden;
            }
            span:last-child {
                transform: rotate(45deg) translateY(-6px) translateX(-6px);
            }
        }
    }
}
